{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
    "__DEV__": true,
    "HTMLElement": true,
    "window": true,
    "document": true,
    "navigator": true,
    "Stripe": true
  },
  "rules": {
    # We use _ to define private variables and methods in classes
    "no-underscore-dangle": 0,
    # This seems to be buggy we don't want eslint to check this
    "import/no-extraneous-dependencies": 0,
    # We can write JSX in anyfile we want.
    "react/jsx-filename-extension": 0,
    # We don't like this rule.
    "arrow-body-style": 0,
    # We don't like this rule. We write arrow functions only when we needed.
    "prefer-arrow-callback": 0,
    # We don't need to write function names always.
    "func-names": 0,
    # propTypes can be object
    "react/forbid-prop-types": [0, { "forbid": [] }],
    # Comma dangle
    "comma-dangle": 0,
    # We use a lot of webpack aliases
    "import/no-unresolved": 0,
    # Webpack import js as default extension
    "import/extensions": 0,
    # Ignore this rule
    "react/require-default-props": 0,
    # Ignore this rule
    "class-methods-use-this": 0,
    # Ignore this rule
    "react/no-unescaped-entities": 0,
    # Ignore this rule
    "jsx-a11y/media-has-caption": 0,
    # Ignore this rule
    "import/prefer-default-export": 0,
    # Ignore this rule
    "object-curly-newline": 0,
    # Ignore this rule
    "jsx-a11y/anchor-is-valid": 0,
    # Fix this rule
    "function-paren-newline": ["error", "consistent"],
    # Disable semicolon
    "semi": ["error", "never"],
  }
}
