{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 2017
  },
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-curly-newline": 0,
    "object-curly-newline": 0,
    "semi": [
      "error",
      "never"
    ],
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,
    "no-plusplus": 0,
    "default-case": 0,
    "react/jsx-one-expression-per-line": 0
  }
}
